.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding: 12px 13px;
  border: 1px solid #c8c1d5;
  background: #e5e1ec;
}
.container {
  margin: 50px;
}

.wrapper {
  min-height: 100px;
  margin-bottom: 20px;
}

.box {
  padding: 20px;
  border: 1px solid #0d47a1;
  background: #42a5f5;
}
